.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    list-style: none;

    &:nth-child(1) {
      flex-shrink: 0;
    }
  }

  &__item + &__item {
    margin-left: 32px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #5D748A;
    white-space: nowrap;
    
  }

  .sitenav__list_twe {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  
    .sitenav__item-twe + .sitenav__item-twe {
      margin-left: 24px;
    }
  
    .sitenav__item-twe > form {
      display: flex;
    }
  
    .header__lan {
      margin-left: 6px;
      border: none;
      background-color: transparent;
      appearance: none;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #5D748A;
  
    }
  
    .header__lan:focus {
      outline: none;
      border: transparent;
      
    }
  
    .sitenav__link-twe {
      display: flex;
      align-items: center;
      padding: 8px 17px;
      border: 1px solid rgba(254, 162, 68, 1);
      background-color: #fff;
      border-radius: 24px;
      text-decoration: none;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      color: #5D748A;
  
      &::before {
        content: '';
        margin-right: 8px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../../images/Vector_btn-img.png);
      }
  
      & > img {
        margin-right: 6px;
      }
    }
    
  }
  .header__hamburger {
    display: none;
    margin: 0;
    padding: 0;
    margin-right: 24px;
    width: 25px;
    height: 18px;
    background-color: transparent;
    border: none;
    background-image: url(../../images/menu.svg);
    background-repeat: no-repeat;
    background-size: 25px 18px;
    transition: all .4s;
  }


}


// !  1300---------------------------------------------------------------------------
@media only screen and (max-width: 1300px) {
  
  .sitenav {
  

    &__list {
      display: none;
    }

    .header__hamburger {
      display: inline-block;
    }

    .header--open  &__list {
      display: block;
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
      backdrop-filter: blur(4px);
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}


// !800 -----------------------------------------------------------------------------
@media only screen and (max-width: 800px) {
  
  .sitenav {
  
    .header--open &__list {
      height: 460px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__link {
      font-size: 17px;
      line-height: 20px;
    }
  
    &__item + &__item {
      margin-left: 0;
      margin-top: 13px;
    }

    .sitenav__list_twe {
      display: none;
    }

  }
  
  .header__hamburger {
    margin-right: 0;
  }

  
  
  .header--open  .sitenav__list_twe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 460px;
    padding-bottom: 33px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

}






